

@mixin flex {
    display: -webkit-flex;
    display: flex;
}

@mixin wrap {
	width: 75%;
    max-width: 850px;
    margin: 0 auto;
}

@mixin resetContainer {
	width: 100%;
	justify-content:center;
}

@mixin resetContent {
	width: 90%;
}