// IMPORT PARTIALS
@import "variables";
@import "mixins";


// IMPORT FONT
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');



	
///// STYLESHEET /////



/// BASIC ///
body {
	margin:0;
	font-family: $font-stack;
}

#wrapper {
	width: 100%;
}

h1 {
	font-size: 42px;
}



/// HEADER ///

header {
	background: $compl-color;
}

#top-header { 
	@include wrap;
	padding: 15px 20px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

 // NAVI // 

nav {

	background: $prim-color;


	.mainnav {
	  @include wrap;
	  list-style: none;
	  padding: 0;
	  display: flex;
	  justify-content: flex-start;
	  font: 700 1.2em $font-stack;
	}

	.mainnav a {
	  text-decoration: none;
	  display: block;
	  padding: 7px;
	  color: #fff;
	}

	.mainnav a:hover {
	  background: $compl-color;
	  color: $prim-color;
	}
}

@media all and (max-width: 600px) {    /* navi becoming centered and vertical */
  .mainnav {
    justify-content: center;   
  }

  .mainnav a { 
    text-align: center; 
    padding: 4px;
    font-size: 0.8em;
  }
}


// CONTENT //

#content-wrapper {
	background: url("img/traffic-332857_1920.jpg") no-repeat fixed top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content-container {
	@include wrap;
}

.content-container-2 {
	background: #fff;
}

.col-2-flex {
	@include wrap;
}

.banner-container {
	background: #CECECE;
}

.banner {
	@include wrap;
}

h2.first-hl {
	color:#fff;
	margin:0;
	padding: 10px 0 
}



// FORM // 

#calc-container {
	background: rgba(255,255,255,0.9);
	padding: 15px 15%;
	text-align:center;
	border-style: solid;
    border-width: 2px;
    border-color: #aaaaaa;
}

#calc-form {
	display: flex;
    flex-wrap: wrap;
    text-align: left;
    line-height: 1.5em;	
    font-size:0.8em;
}

form span {
	width:50%;
	padding: 10px 0 0;
}

form input, select {
	width : 200px;
	height: 30px;
  	margin: 0;

	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
	-moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
	box-sizing: border-box;
}

span.submitButton {
	width:100%;
	text-align: center;
	padding: 30px 0;
}

form button {
	width: 150px;
	background-color: #339235;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



// FOOTER //

footer {
  background: #000;

}
#footer-container {
	@include wrap;
	display:flex;
	flex-wrap: wrap;
}

#footernav {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    font: 1em $font-stack;


	a {
	text-decoration: none;
	display: block;
	padding: 7px;
	color: #fff;
	}
}

.footer-logo {

	margin-left: auto;
}

.copyright {
  width:100%;
  font-size: 0.9em;
  color: #fff;
  text-align: center;
}